<div class="selection">
    <div class="bg-wrapper"></div>
    <div class="selection-data">
        <!-- controller -->
        <div class="controller">
            <!-- close -->
            <span class="back" (click)="backToPrev()">
                <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="close">
                    <path
                        d="M11.6451 5.09037L7.56179 9.1737C7.47662 9.25887 7.3646 9.30202 7.2526 9.30202C7.1406 9.30202 7.02859 9.25945 6.94342 9.1737C6.7725 9.00278 6.7725 8.72568 6.94342 8.55476L10.2801 5.21811H0.835938C0.594437 5.21811 0.398438 5.02211 0.398438 4.78061C0.398438 4.53911 0.594437 4.34311 0.835938 4.34311H10.2795L6.94285 1.00643C6.77193 0.835511 6.77193 0.558443 6.94285 0.387526C7.11377 0.216609 7.39087 0.216609 7.56179 0.387526L11.6451 4.47086C11.816 4.64294 11.816 4.91945 11.6451 5.09037Z"
                        fill="#2E2E2E" />
                </svg>
                العودة
            </span>

            <!-- arrow -->
            <span class="icon" (click)="close()">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="arrow">
                    <path
                        d="M3.70524 4.77939L0.855999 1.93114C0.496746 1.57201 0.496746 0.977594 0.855999 0.618467C1.21525 0.259339 1.80988 0.259339 2.16913 0.618467L5.01838 3.46672L7.86762 0.618467C8.22688 0.259339 8.8215 0.259339 9.18076 0.618467C9.54001 0.977594 9.54001 1.57201 9.18076 1.93114L6.33151 4.77939L9.18076 7.62764C9.54001 7.98677 9.54001 8.58119 9.18076 8.94032C8.99494 9.12607 8.75956 9.21276 8.52419 9.21276C8.28882 9.21276 8.05345 9.12607 7.86762 8.94032L5.01838 6.09206L2.16913 8.94032C1.98331 9.12607 1.74794 9.21276 1.51256 9.21276C1.27719 9.21276 1.04182 9.12607 0.855999 8.94032C0.496746 8.58119 0.496746 7.98677 0.855999 7.62764L3.70524 4.77939Z"
                        fill="#84929E" />
                </svg>
            </span>



        </div>
        <div class="selection-container">

            @if (selectionFirstStep) {
            <header class="selection-first-step-header">
                <img src="/assets/images/gold-star.svg" class="star-top" alt="star">
                <h2 class="selection-address">قم بكتابة وصف منزل أحلامك</h2>
                <img src="/assets/images/gold-star.svg" class="star-bottom" alt="star">

            </header>
            <!-- header address -->
            <label for="short-desc" class="selection-short-desc">
                وصف مختصر عن المنزل
            </label>
            <input type="text" class="selection-short-desc-input" name="short description" id="short-desc"
                [(ngModel)]="shortDesc">
            <p class="long-desc-address">وصف تعبيري عن المنزل</p>
            <div class="long-desc-container">
                <img src="/assets/images/message.svg" class="image-overlay" alt="">
                <div class="message-container">
                    <div class="message-controller">
                        <span>
                            <img src="/assets/images/controller/share.svg" alt="">
                            <img src="/assets/images/controller/img.svg" alt="">
                        </span>
                        <span>
                            <img src="/assets/images/controller/ul.svg" alt="">
                            <img src="/assets/images/controller/ol.svg" alt="">
                        </span>
                        <span>
                            <img src="/assets/images/controller/right.svg" alt="">
                            <img src="/assets/images/controller/center.svg" alt="">
                            <img src="/assets/images/controller/left.svg" alt="">
                        </span>
                        <span>
                            <img src="/assets/images/controller/line-through.svg" alt="">
                            <img src="/assets/images/controller/underline.svg" alt="">
                            <img src="/assets/images/controller/italic.svg" alt="">
                            <img src="/assets/images/controller/bold.svg" alt="">
                        </span>
                        <span>
                            <img src="/assets/images/controller/shape.svg" alt="">
                            <img src="/assets/images/controller/text.svg" alt="">

                        </span>
                        <span>
                            <img src="/assets/images/controller/down-arrow.svg" alt="">
                            14px
                        </span>
                    </div>
                    <textarea name="" id="" [(ngModel)]="longDesc" [ariaSetSize]="false"></textarea>
                </div>
            </div>
            <button class="btn" (click)="goToNextStep()">الخطوة التالية</button>
            }@else {
            <header class="header2">
                <h2 class="selection-address">قم بكتابة نص الرسالة المرسلة</h2>
                <p class="selection-title">قم بتسمية حملتك و تاريخ إرسال الحملة المتوقع</p>
            </header>

            <div class="selection-data-conatiner">
                <div class="design-container">
                    <img src="/assets/images/message.svg" alt="message.svg" class="image-overlay" />
                    <div class="design-type">
                        <h4><img src="/assets/images/clender.svg" alt="" class="eye-icon"><span>تصميم المنزل</span></h4>
                        <div class="choises">
                            <label for="new-design">
                                <p class="custom-radio-containers">
                                    <input type="radio" name="design" value="new design" id="new-design"
                                        [(ngModel)]="design">
                                    <span class="checkmark"></span>
                                </p>
                                تصميم حديث
                            </label>

                            <label for="new-smart-design">
                                <p class="custom-radio-containers">
                                    <input type="radio" name="design" value="new smart design" id="new-smart-design"
                                        [(ngModel)]="design">
                                    <span class="checkmark"></span>
                                </p>
                                تصميم حديث وذكي
                            </label>
                        </div>
                    </div>
                    <div class="preview">
                        <div class="preview-header">
                            <h4><img src="/assets/images/eye.svg" alt="eye">معاينة وصف المنزل</h4>
                            <p><span class="subject">الموضوع:</span>{{shortDesc}}</p>
                        </div>
                        <textarea name="" id="" [value]="longDesc" [(ngModel)]="longDesc" readonly
                            [ariaSetSize]="false">

                    </textarea>
                    </div>
                </div>
                <button class="btn" [disabled]="design!=''?false:true" (click)="goToNextLevel()">الخطوة التالية</button>

            </div>
            }
            <p class="selection-footer">قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل</p>
        </div>
    </div>
</div>